{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>SignUp</title>
</head>
<body>
    <div class="header"><h2>Blog Viewer — Sign Up</h2></div>
    <div class="form-container">
        <h2>Create an account</h2>
        <form action="{% url 'signup' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Sign Up" class="button"/>
        </form>
    </div>
</body>
</html>